.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dx-pivotgrid.dx-row-lines,
.dx-pivotgrid .dx-pivotgrid-vertical-headers tr:first-child td {
  text-align: left;
}

.table-wrapper {
  margin: 50px;
  width: calc(100% - 100px);
  height: 400px;
}

.text-right {
  margin-bottom: 10px;
  text-align: right;
}
.btn {
  border: 0;
  background-color: rgb(26, 169, 228);
  color: #fff;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}
